<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>socket2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base th:href="@{/}">
    <title>Hello topic</title>
    <script src="js/sockjs.min.js"></script>
    <script src="js/stomp.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script th:inline="javascript">
        var stompClient = null;
        var cid = [[${cid}]]; //传递用户key值 登录用户标识

        function setConnected(connected) {
            document.getElementById("connect").disabled = connected;
            document.getElementById("disconnect").disabled = !connected;
            $("#response").html();
        }

        function connect() {
            var basePath = "http://127.0.0.1:8087/web-socket/socket";
            var socket = new SockJS(basePath);
            stompClient = Stomp.over(socket);
            stompClient.connect({cid: cid}, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/greetings', function (response) {
                    var response1 = document.getElementById('response');
                    var p = document.createElement('p');
                    p.style.wordWrap = 'break-word';
                    p.appendChild(document.createTextNode(response.body));
                    response1.appendChild(p);
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendName() {
            var sid = [[${sid}]];
            var name = document.getElementById('name').value;
            //name 为发送人   sid为接受人
            //stompClient.send("/app/msg/hellosingle", {}, JSON.stringify({'name': name,'sid':sid}));
            stompClient.send("/app/msg/sendcommuser", {}, JSON.stringify({'name': name,'sid':sid}));
        }
    </script>
</head>
<body onload="disconnect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <labal>名字</labal>
        <input type="text" id="name"/>
        <button id="sendName" onclick="sendName();">Send</button>
        <p id="response"></p>
    </div>
</div>

</body>
</html>